/*#192433 #151d28
#204d74*/

.navbar-inverse {
    background-color: #151d28;
    border-color: #192433;
}
.navbar-inverse .navbar-nav > .active > a {
    color: #fff;
}
.boc-lay-tan img {
    max-width: 90%;
}
.navbar-inverse .navbar-nav > li > a {
    color: #ddd;
}
.navbar-inverse .navbar-brand {
    color: #fff;
    background-color: #192433;
}
.tan-title {
    background: #192433;
    padding: 8px;
    color: #fff;
}
.tan-title a, .tan-title a:hover {
    color: #fff;
}
.tan-content {
    padding: 8px;
    border: 1px solid #d1d1d1;
    display: table;
}
.tan-gmenu {
    background:#eee;
    padding:10px;
}
.boc-lay-tan {
    padding: 8px;
    border: 1px solid #d1d1d1;
}
.tan-dang-tai {
    margin-top:1px;
    padding: 8px;
    border: 1px solid #d1d1d1;
    display: flex;
}
.tan-post-meta {
    color:gray;
}
