
@{
    ViewBag.Title = "PostSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success">Upload successfully! Your documents will be reviewed and approved!
    <br />
    <a href="/"><i class="fa fa-home"></i> Back</a>
    </div>

